.dark-bg-taiko {
    background-color: #0C101A;
}

.light-bg-taiko {
    background-color: #1A1E27;
}

.lighter-bg-taiko {
    background-color: #2C303A;
}

.theme-taiko-logocolor {
    background-color: #F0148C;
}

.theme-taiko-hoverlogo {
    background-color: #B40F69;
}

